################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Twitch TTS/bin/
/Twitch TTS/obj/