################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JMS/bin/
/JMS/obj/
/.vs/